<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
    <section name="Ade.AdeComponentFramework.Components" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" />
    <section name="KukaRoboter.SmartHMI.ViewConfiguration" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" />
  </configSections>

   <location allowOverride="true" inheritInChildApplications="true">
      <KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">

      <!-- VisionCognexView -->
      <MenuRoot SystemName="MainMenu">
        <MenuFolder DisplayName="FlexDrill#FlexDrillMenu">
          <MenuItem DisplayName="VisionCognex#MenuDisplay" MergeOrder="4000">
            <CommandCall Target="ViewManager.OpenView">
              <Argument Name="ViewName">VisionCognex</Argument>
              <Argument Name="EntryPoint">normal</Argument>
            </CommandCall>
          </MenuItem>
        </MenuFolder>
      </MenuRoot>
      <!-- VisionCognexView -->
    </KukaRoboter.SmartHMI.Menu>

    <!-- Plugin License and Luxurious configmon -->
    <Ade.AdeComponentFramework.Components type="Ade.Components.ComponentReferenceConfiguration, Ade.Components">

      <!-- VisionCognexComponent -->
      <Component Type="Kuka.FlexDrill.SmartHMI.VisionCognex.ViewModels.VisionCognexViewModel, Kuka.FlexDrill.SmartHMI.VisionCognex" />
    </Ade.AdeComponentFramework.Components>

    <KukaRoboter.SmartHMI.ViewConfiguration type="KukaRoboter.SmartHMI.UIFramework.ViewManager.ViewConfiguration, SmartHMI">
      <!-- Configuration -->
      <View SystemName="VisionCognex" Caption="VisionCognex#Caption"
        Type="Kuka.FlexDrill.SmartHMI.VisionCognex.Views.VisionCognexView, Kuka.FlexDrill.SmartHMI.VisionCognex"
        ViewModel="Kuka.FlexDrill.SmartHMI.VisionCognex.ViewModels.VisionCognexViewModel"
        OpenOnStartup="true"
        Display="Main" />
    </KukaRoboter.SmartHMI.ViewConfiguration>
  </location>
</configuration>