<?xml version="1.0" encoding="utf-8"?>

<configuration>
   <configSections>
      <section name="Ade.AdeComponentFramework.Components"
         type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" />
      <section name="KukaRoboter.SmartHMI.ViewConfiguration"
         type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" />
      <section name="KukaRoboter.SmartHMI.Menu"
         type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" />
   </configSections>

   <Ade.AdeComponentFramework.Components type="Ade.Components.ComponentReferenceConfiguration, Ade.Components">
      <!--Type=[ViewModel including the whole namespace], [Assembly including the ViewModel] -->
      <Component Type="Kuka.FlexDrill.SmartHMI.Production.Production.ViewModel.ProductionViewModel, Kuka.FlexDrill.SmartHMI.Production" />
      <Component Type="Kuka.FlexDrill.SmartHMI.Production.Clamping.ViewModel.ClampingViewModel, Kuka.FlexDrill.SmartHMI.Production" />
      <Component Type="Kuka.FlexDrill.SmartHMI.Production.HeadManagement.ViewModel.HeadManagementViewModel, Kuka.FlexDrill.SmartHMI.Production" />
      <Component Type="Kuka.FlexDrill.SmartHMI.Production.SetiTecInfo.ViewModel.SetiTecInfoViewModel, Kuka.FlexDrill.SmartHMI.Production" />
      <Component Type="Kuka.FlexDrill.SmartHMI.Production.OlpGenerator.ViewModel.OlpGeneratorViewModel, Kuka.FlexDrill.SmartHMI.Production" />
      <Component Type="Kuka.FlexDrill.SmartHMI.Production.TcpCalibration.ViewModel.TcpCalibrationViewModel, Kuka.FlexDrill.SmartHMI.Production" />
      <Component Type="Kuka.FlexDrill.SmartHMI.Production.KeyBar.FlexDrillKeyBar, Kuka.FlexDrill.SmartHMI.Production" />
      <Component Type="Kuka.FlexDrill.SmartHMI.Production.Service.FlexDrillService, Kuka.FlexDrill.SmartHMI.Production">
         <Service>Kuka.FlexDrill.SmartHMI.Production.Service.IFlexDrillService, Kuka.FlexDrill.SmartHMI.Production</Service>
      </Component>
     <Component Type="Kuka.FlexDrill.SmartHMI.Production.Service.HmiDisplayService, Kuka.FlexDrill.SmartHMI.Production">
       <Service>Kuka.FlexDrill.SmartHMI.Production.Service.IHmiDisplayService, Kuka.FlexDrill.SmartHMI.Production</Service>
     </Component>
   </Ade.AdeComponentFramework.Components>

   <KukaRoboter.SmartHMI.ViewConfiguration
      type="KukaRoboter.SmartHMI.UIFramework.ViewManager.ViewConfiguration, SmartHMI">
      <View SystemName="ProductionView"
         Caption="FlexDrill#ProductionCaption"
         Type="Kuka.FlexDrill.SmartHMI.Production.Production.View.ProductionView, Kuka.FlexDrill.SmartHMI.Production"
         ViewModel="Kuka.FlexDrill.SmartHMI.Production.Production.ViewModel.ProductionViewModel"
         Display="Main" />

      <View SystemName="ClampingView"
         Caption="FlexDrill#ClampingCaption"
         Type="Kuka.FlexDrill.SmartHMI.Production.Clamping.View.ClampingView, Kuka.FlexDrill.SmartHMI.Production"
         ViewModel="Kuka.FlexDrill.SmartHMI.Production.Clamping.ViewModel.ClampingViewModel"
         Display="Main" />

      <View SystemName="HeadManagementView"
         Caption="FlexDrill#HeadManagementCaption"
         Type="Kuka.FlexDrill.SmartHMI.Production.HeadManagement.View.HeadManagementView, Kuka.FlexDrill.SmartHMI.Production"
         ViewModel="Kuka.FlexDrill.SmartHMI.Production.HeadManagement.ViewModel.HeadManagementViewModel"
         Display="Main" />

      <View SystemName="SetiTecInfoView"
         Caption="FlexDrill#SetiTecInfoCaption"
         Type="Kuka.FlexDrill.SmartHMI.Production.SetiTecInfo.View.SetiTecInfoView, Kuka.FlexDrill.SmartHMI.Production"
         ViewModel="Kuka.FlexDrill.SmartHMI.Production.SetiTecInfo.ViewModel.SetiTecInfoViewModel"
         Display="Main" />

      <View SystemName="OlpGeneratorView"
        Caption="FlexDrill#OlpGeneratorCaption"
        Type="Kuka.FlexDrill.SmartHMI.Production.OlpGenerator.View.OlpGeneratorView, Kuka.FlexDrill.SmartHMI.Production"
        ViewModel="Kuka.FlexDrill.SmartHMI.Production.OlpGenerator.ViewModel.OlpGeneratorViewModel"
        Display="Main" />

      <View SystemName="TcpCalibrationView"
            Caption="FlexDrill#TcpCalibrationCaption"
            Type="Kuka.FlexDrill.SmartHMI.Production.TcpCalibration.View.TcpCalibrationView, Kuka.FlexDrill.SmartHMI.Production"
            ViewModel="Kuka.FlexDrill.SmartHMI.Production.TcpCalibration.ViewModel.TcpCalibrationViewModel"
            Display="Main" />
   </KukaRoboter.SmartHMI.ViewConfiguration>

   <KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
      <!--Main menu-->
      <MenuRoot SystemName="MainMenu">
         <MenuFolder DisplayName="FlexDrill#FlexDrillMenu">
            <!--Production View-->
            <MenuItem DisplayName="FlexDrill#ProductionMenu">
              <CommandCall Target="ViewManager.OpenView">
                <Argument Name="ViewName">ProductionView</Argument>
              </CommandCall>
            </MenuItem>
            <!--Clamping View-->
            <MenuItem DisplayName="FlexDrill#ClampingMenu">
              <CommandCall Target="ViewManager.OpenView">
                <Argument Name="ViewName">ClampingView</Argument>
              </CommandCall>
            </MenuItem>
            <!--Head Management View-->
            <MenuItem DisplayName="FlexDrill#HeadManagementMenu">
              <CommandCall Target="ViewManager.OpenView">
                <Argument Name="ViewName">HeadManagementView</Argument>
              </CommandCall>
            </MenuItem>
            <!--Seti-Tec info View-->
            <MenuItem DisplayName="FlexDrill#SetiTecInfoMenu">
               <CommandCall Target="ViewManager.OpenView">
                  <Argument Name="ViewName">SetiTecInfoView</Argument>
               </CommandCall>
            </MenuItem>
           <!--Olp Generator View-->
           <MenuItem DisplayName="FlexDrill#OlpGeneratorMenu">
             <CommandCall Target="ViewManager.OpenView">
               <Argument Name="ViewName">OlpGeneratorView</Argument>
             </CommandCall>
           </MenuItem>
            <!--Tcp Calibration View-->
            <MenuItem DisplayName="FlexDrill#TcpCalibrationMenu">
              <CommandCall Target="ViewManager.OpenView">
                <Argument Name="ViewName">TcpCalibrationView</Argument>
              </CommandCall>
            </MenuItem>
         </MenuFolder>

          <!--KeyBar-->
          <MenuFolder DisplayName="MenuBar#Config">
            <MenuFolder SystemName="ConfigStatKeys">
               <MenuItem DisplayName="FlexDrill#ProductionKeyBar" MergeOrder="1">
                  <CommandCall Target="UserkeyBarManager.OpenUserkeyBar">
                     <Argument Name="UserkeyBarRepository">Kuka.FlexDrill.SmartHMI.Production.KeyBar.FlexDrillKeyBar</Argument>
                     <Argument Name="UserkeyBarID">Production</Argument>
                  </CommandCall>
               </MenuItem>
              <MenuItem DisplayName="FlexDrill#WorkMode" MergeOrder="2">
                <CommandCall Target="UserkeyBarManager.OpenUserkeyBar">
                  <Argument Name="UserkeyBarRepository">Kuka.FlexDrill.SmartHMI.Production.KeyBar.FlexDrillKeyBar</Argument>
                  <Argument Name="UserkeyBarID">WorkMode</Argument>
                </CommandCall>
              </MenuItem>
              <MenuItem DisplayName="FlexDrill#Light/Laser" MergeOrder="3">
                <CommandCall Target="UserkeyBarManager.OpenUserkeyBar">
                  <Argument Name="UserkeyBarRepository">Kuka.FlexDrill.SmartHMI.Production.KeyBar.FlexDrillKeyBar</Argument>
                  <Argument Name="UserkeyBarID">Light/Laser</Argument>
                </CommandCall>
              </MenuItem>
            </MenuFolder>
         </MenuFolder>
      </MenuRoot>
   </KukaRoboter.SmartHMI.Menu>
</configuration>